.ev-hover {
    .ev-trigger-nth-d-block {
        display: none;
    }

    .ev-trigger-nth-d-flex {
        display: none;
    }

    .ev-trigger-nth-vis {
        visibility: hidden;
    }

    &:hover {
        .ev-trigger-nth-d-block {
            display: block;
        }

        .ev-trigger-nth-d-flex {
            display: flex;
        }

        .ev-trigger-nth-vis {
            visibility: visible;
        }
    }

    &.ev-trigger-hand {
        cursor: pointer;
    }
}